/* Categories:  (a: index.html related)
    1a. All inclusive 
    2a. Major parts of the page 
    3a: Quick View of groups
    4a: Quick View of Favorites
*/


/*1a: All inclusive */
body {
    background-color: #76877D;
    color: slategray;
    margin-top: 55px;
}
h1 {
    background-image: url(media/holiday.jpg);
    height: 150px;
    font-size: 90px;
    color: burlywood;
    text-align: center;
    padding: 20px;
}
div {
    border: 1px solid black;
    font-size: large;
    width: 300px;
    padding: 25px;
    margin: 20px;
    display: inline-block;
    color: slategray;
}
#navigation li {
    display: inline;
    margin: 30px;
    text-align: center;
    border: #f6ca83 solid 1px;
    background-color: #f6ca83;
    border-radius: 5px;
    padding: 5px;
    
}

/* 2a. Major parts of the page */

.search {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-left: 430px;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 5px;
    margin-right: 600px;
    background-color: #087E8B;
    color: #01172F;
}
.carousel {
    border: 1px solid black;
    width: 500px;
    text-align: center;
    margin-left: 325px;
    padding: 105px;
    margin-bottom: 50px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: #087E8B;
    color: #01172F;
    font-size: 35px;
}


h3 {
    text-align: center;
}
ls {
    display: block;
    margin: 20px;
}


/* 3a. Quick View of groups */
.groupList {
    margin-right: 600px;
    background-color: #087E8B;
    color: #01172F;
}


/* 4a. Quick View of Favorites */

.favorites {
    margin-right: 600px;
    background-color: #087E8B;
    color: #01172F;
}

.groups {
    background-color: #087E8B;
    color: #01172F;
}
article {
    color: #01172F;
    font-size: larger;
}